#alphabet-container {
  margin: 2em 0em 2em 0em;
}

#file-list {
  display: block;

}

/* Styling for individual knife div */

.knife-look {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  flex: 0 3 32%;
  padding: 1em;
  margin: 1em 0em 1em 0em;
  background-color: #fafafa;
  border: 2px solid black;
  z-index: 3
}

.flex-container-row {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.button {
  padding: .35em 1em .35em 1em;
  border-radius: .25em;
  margin: 1.5em .5em 0em .5em;
  font-size: .9em;

}

.edit-button {
  background-color: white;
  border: 2px solid black;
}

.edit-button:hover {
  background-color: black;
  color: white;
}

.delete-button {
  background-color: white;
  border: 2px solid tomato;
}

.delete-button:hover {
  background-color: tomato;
  color: white;
}

.empty {
  padding: 1.25em;
  background: transparent;
  border: none;
}

#knife-entries {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1em;
}

#knife-entries li {
  padding-right: 1em;
  font-size: 1.25em;
}

#add-knife-form {
  max-width: 60%;
}

/* Media Queries */

@media (min-width: 640px) {
  #file-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5em;
  }
}
